@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*
{
	scroll-behavior: smooth;
}

body
{
  font-family: 'Merriweather Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

.tombolnya
{
	width: 100%;
}

.welcome-banner
{
	height: 100vh; 
	overflow-x: hidden;
	background-color: transparent; 
	padding: 20px 90px !important;
}

.welcome-text {
	margin-top: 0 !important;
	max-width: 900px; 
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-70%);
	transform: translateY(-70%);
}

.wrapper{
	margin-top: 0;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
}

.wrapper-welcome-banner
{
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-shadow: 0 0 5px #000;
}

.parallax::after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateZ(-1px) scale(1.5);
	background-size: 100%;
	z-index: -1;
}
.bg1::after {
	background-image: url('/assets/images/jumbo/bg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }

.wabutton
{
	background-color: #28CD46;
	border: 1px solid #28CD46;
	border-radius: 10px;
	color: white;
	padding: 13px 20px;
	margin-right: 30px;
	transition: 0.3s ease-in-out;	
}

.wabutton:hover
{
	background-color: #11C236;
	border: 1px solid #11C236;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	color: white;
}

.service-wrapper
{
	width: 100%;
	max-width: 900px;
	align-self: center;
}

.service-wrapper > .row > .col-md-4 > div.service-icon-wrapper > svg
{
	color: #E43121;
	margin: 25px;
}

div.service-description > h4, div.service-description > p
{
	text-align: center;
	color: #333333;
	margin: 10px;
}

.service-icon-wrapper
{
	text-align: center;
}



.unggulanbutton
{
	border-radius: 10px;
	border: 1px solid white;
	padding: 13px 20px;
	color: black;
	background-color: white;
	transition: 0.3s ease-in-out;
}

.unggulanbutton:hover
{
	color: black;
	background-color: white;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}


button .slick-next .slick.arrow, button .slick-next .slick.arrow
{
	visibility: hidden;
}


.collapse-btn
{
	width: 100%;
    background-color: #ecebea !important;
    border-radius: 15px !important;
}

.collapse-btn:hover
{
    background-color: #cccccc !important;
	text-decoration: none !important;
}

.collapse-btn:focus
{
	background-color: #cccccc !important;
	text-decoration: none !important;
}

.clear-p
{
	margin-top: 15px;
}

.contain-side
{
 /* background: url('images/paketsemarak.jpeg');
  background-repeat: no-repeat;
  background-size: cover;*/
  margin-top: 30px;
  background-color: gray;
  height: 210px;
  width: 80% !important;
  border-radius: 15px;
}

.ctn
{
  display: inline-block;
  outline: none;
  margin: 10px auto 10px auto;
  padding: 15px 6px 15px 6px;
  font-size: 27px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion-faq {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
  }
  
  .selected, .accordion-faq:hover {
	background-color: #ccc;
  }
  
  .accordion-faq:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .selected:after {
	content: "\2212";
  }
  
  .panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

@media screen and (max-width: 870px)
{
	.welcome-banner
	{
		padding: 20px 15px !important;
	}

	.welcome-text {
		margin-top: -15% !important;
	}
}